<ul ng-controller="HomeController as homeCtrl" class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="prato in homeCtrl.pratosList">
        <div class="collapsible-header"><i class="material-icons"><img src="" width= "100%" alt=""></i>{{prato.nome}}</div>
        <div class="collapsible-body">
            <p>{{prato.ingredientes}}</p>
            <p>{{prato.preparo}}</p>
        </div>
    </li>

</ul>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
    });

</script>
