<ul ng-controller="HomeController" class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header hoverable"><i class="material-icons"><img src="{{prato.img}}" width= "100%" alt=""></i>{{prato.titulo}}</div>
        <div class="collapsible-body">
            <p>{{prato.ingredientes}}</p>
            <p>{{prato.preparo}}</p>
        </div>
    </li>
     <li>
        <div class="collapsible-header hoverable"><i class="material-icons"><img src="{{prato2.img}}" width= "100%" alt=""></i>{{prato2.titulo}}</div>
        <div class="collapsible-body">
            <p>{{prato2.ingredientes}}</p>
            <p>{{prato2.preparo}}</p>
        </div>
    </li>

</ul>
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
    });

</script>
